<div class = "registration_box col-10 offset-1">
  <h1 class = "text-center"> Welcome to the 5th Annual Code Conference </h1>
  <br />
  <h2 class = "text-center"><%= link_to 'Register here', new_attendee_path, class: 'btn btn-warning btn-lg' %></h2>

</div>