@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

body {
  background: image_url("yellow.png");
}

.registration_box{
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background-color: white;
  border-color: black;
  margin-top: 10px;
  margin-bottom: 15px; 
  padding: 20px; 
}


.grey-box{
  background-color: #b3b5b7;
  border-color: #b3b5b7;
  margin-top: 10px;
  margin-bottom: 15px; 
  padding: 20px; 
  text-align: center;
}